// Colors
$local-white: #F8F8F8;
$local-black: #171717;

// Font/text values
$main-font: "General Sans Variable";
$highlight-font: "Gambetta Variable";

$font-style-normal: normal;
$font-style-italic: italic;

$font-weight-600: 600;
$font-weight-normal: normal;
$font-size-23: 23px;
$font-size-35: 35px;
$font-size-155: 155px;

$character-spacing-0: 0px;
$line-spacing-21: 21px;
$line-spacing-55: 55px;
$line-spacing-142: 142px;

// Character Styles
.project-description {
  font-family: $highlight-font;
  font-style: $font-style-italic;
  font-weight: $font-weight-normal;
  font-size: $font-size-23;
  line-height: $line-spacing-21;
  letter-spacing: $character-spacing-0;
  color: $local-black;
}

.título {
  font-family: $main-font;
  font-style: $font-style-normal;
  font-weight: $font-weight-600;
  font-size: $font-size-155;
  line-height: $line-spacing-142;
  letter-spacing: $character-spacing-0;
  color: $local-black;
}

.subtítulo {
  font-family: $main-font;
  font-style: $font-style-normal;
  font-weight: $font-weight-600;
  font-size: $font-size-35;
  line-height: $line-spacing-55;
  letter-spacing: $character-spacing-0;
  color: $local-black;
}
