@import '../Variables.scss';
.hero {
  /* Layout Properties */
  top: 0px;
  left: 75px;
  width: 1845px;
  height: 4556px;
  background-color: $background-grey;
}
.mainTitle{
  /* UI Properties */
  padding-top: 100px;
  margin-top: 0;
  font-family: $general-sans;
  font-weight: $font-weight-normal;
  font-size: $font-size-556;
  //font-size: $adaptable-font-size;
  line-height: $line-spacing-420;
  letter-spacing: $letter-spacing-0;
  text-align: left;
  color: $local-white;
}
