@import '../Variables.scss';
@import '../Fonts.scss';
.hero {
  /* Layout Properties */
  width: 100%;
  background-color: $background-grey;
  margin-left: 75px;
 
}
.mainTitle{
  /* UI Properties */
  margin-right: $right-margin;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-top: 0;
  padding-right: $right-margin;
  text-align: left;
}
